.feedback {
  padding-top: 92px;
  overflow-x: hidden;
  color: $white;

  background-color: $blue;
}

.feedback__container {
  position: relative;
  margin-right: -15px;
  padding-left: 50%;
  padding-bottom: 98px;
  @media (min-width: 1024px) and (max-width: 1299px) {
    padding-left: calc(50% - 114px);
  }

  background-image:
    url("../img/bg-airplane@1x.png"),
    url("../img/bg-image-form.svg"),
    url("../img/bg-image-form2.svg");
  background-repeat: no-repeat;
  background-position: left calc(50% - 362px) top 69px,left calc(50% - 457px) top -152px,right calc(50% - 822px) top -60px;
  overflow-x: hidden;
  background-size: 511px auto,671px 641px,466px,641px;
  z-index: 1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-airplane@2x.png"),
    url("../img/bg-image-form.svg");
  }

  h2 {
    @include reset;
    margin-bottom: 9px;
    padding-left: 11px;

    @include font(36, 51);
    font-weight: 400;
    font-family: $roboto-condensed;
  }

  p {
    @include reset;
    padding-left: 15px;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    padding-top: 79px;
    padding-bottom: 90px;
  }

  .feedback__container {
    padding-left: 10%;
    background-image: none;
    padding-bottom: 0;

    h2 {
      margin-bottom: 16px;
      padding-left: 11px;

      @include font(32, 45);
    }
  }
}

@media (max-width: $mobile-width) {
  .feedback {
    padding-top: 30px;
    padding-bottom: 27px;
  }

  .feedback__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;

    h2 {
      padding-left: 0;
      margin-bottom: 12px;
      @include font(28, 39);
    }

    p {
      padding-left: 0;
      margin-bottom: -3px;
    }
  }
}
