.capability {
  background-color: #1b2d37;
  padding-top: 89px;
  padding-bottom: 94px;

  h2 {
    @include reset;
    padding-left: 14px;
    padding-bottom: 21px;
    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: 400;
    @include font(36, 51);
    color: $white;
  }
}

.capability__container {
  margin: 0 auto;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;
  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.capability__list {
  @include reset-ul;
  display: flex;
  flex-wrap: wrap;
}

.capability__item {
  display: flex;
  width: 31%;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
}

.capability__link {
  position: relative;
  width: 100%;

  &::before {
    @include pseudo-elem;
    right: 0;
    bottom: 19px;
    z-index: 1;

    @include size(63, 63);

    background-color: $blue;
  }

  &::after {
    @include pseudo-elem;
    right: 30px;
    bottom: 47px;
    z-index: 1;

    @include size(6, 6);

    border: 1px solid $white;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
  }

  img {
    display: block;
    width: 100%;
    opacity: 0.2;
  }

  h3 {
    position: absolute;
    top: 66px;
    left: 45px;
    width: 160px;
    margin-top: 0;
    margin-bottom: 0;

    @include font(20, 30);
    font-weight: 400;
    font-family: $roboto-condensed;
    color: $white;
  }
}

@media (max-width: $tablet-width) {
  .capability {
    padding-top: 49px;
    padding-bottom: 78px;

    h2 {
      width: 613px;
      padding-left: 0;
      padding-bottom: 50px;
      @include font(32, 45);
    }
  }

  .capability__list {
    li:first-child {
      padding-bottom: 46px;

      h3 {
        top: 40px;
      }
    }

    li:nth-child(2) {
      padding-bottom: 46px;

      h3 {
        top: 40px;
      }
    }

    li:last-child {
      h3 {
        top: 50px;
      }
    }
  }

  .capability__item {
    width: 100%;
    padding: 0;
    position: relative;
  }

  .capability__image {
    position: relative;
    margin: 0;
    height: 256px;
    overflow: hidden;
  }

  .capability__link {
    &::before {
      bottom: 0;
    }

    &::after {
      bottom: 30px;
    }
  }
}

@media (max-width: $mobile-width) {
  .capability {
    padding-top: 49px;
    padding-bottom: 64px;

    h2 {
      width: 280px;
      padding-left: 9px;
      padding-bottom: 43px;
      @include font(28, 39);
    }
  }

  .capability__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .capability__list {
    li:first-child {
      padding-bottom: 30px;

      h3 {
        top: 20px;
        left: 35px;
      }
    }

    li:nth-child(2) {
      padding-bottom: 30px;

      h3 {
        top: 20px;
        left: 35px;
      }
    }

    li:last-child {
      h3 {
        top: 29px;
        left: 35px;
      }
    }
  }
}
