// Цвета на странице
$white: #ffffff;
$black: #000000;
$blue: #00b2FF;
$gray: #666666;

// Размеры для разных экранов
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

// Отступы для разных экранов
$mobile-padding: 15px;
$tablet-padding: 25px;
$desktop-padding: 25px;

// Для ретиновых дисплеев
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифты
$pt-mono: "PT Mono", "Courier New", monospace;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
