.page-footer {
  position: relative;
  padding-top: 65px;
  padding-bottom: 0;

  @include font(15, 25);
  color: rgba(#1b2d37, 0.5);
  background-color: $white;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 58px;
}

.page-footer__wrapper-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 102px;
}

.page-footer__logo {
  width: 315px;
  display: flex;
  padding-left: 24px;
  padding-right: 5px;
  padding-bottom: 54px;
}

.page-footer__icon-logo {
  padding-right: 13px;
}

.page-footer__logo-text {
  margin: 0;
  padding-top: 5px;
  @include font(12, 14);
  font-weight: 500;
  color: #788891;

  span {
    width: 149px;
    display: block;
    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: 700;
    @include font(25, 29);
    color: #203c42;
  }
}

.page-footer__social {
  padding-left: 24px;
}

.social__list {
  @include reset-ul;
  display: flex;
}

.social__item {
  padding-right: 15px;
}

.page-footer__info {
  margin-right: 232px;
}

.page-footer__title {
  @include reset;
  padding-bottom: 27px;

  @include font(15, 16);
  font-weight: 400;
  font-family: $roboto-condensed;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #203c42;
}

.page-footer__toggle {
  display: none;
}

.page-footer__info-lists {
  width: 424px;
  display: flex;
  justify-content: space-between;
}

.page-footer__list-left,
.page-footer__list-right {
  @include reset-ul;
}

.page-footer__link {
  color: #1b2d37;
  opacity: 0.5;
}

.page-footer__list-contacts {
  @include reset-ul;
}

.page-footer__bottom {
  display: flex;
  padding-top: 14px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(#626962, 0.2);
}

.page-footer__bottom-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (min-width: $desktop-width) {
    min-width: 1460px;
  }
}

.page-footer__bottom-left {
  min-width: 816px;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;

  p {
    margin: 0;
    @include font(14, 24);
    font-weight: 400;
    font-family: $roboto-condensed;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  a {
    @include font(14, 24);
    font-weight: 400;
    font-family: $roboto-condensed;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.page-footer__bottom-right {
  min-width: 192px;
  margin-left: auto;
  padding-right: 25px;
}

.page-footer__bottom-studio {
  @include font(14, 24);
  font-weight: 400;
  font-family: $roboto-condensed;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 0;

    &::before {
      @include pseudo-elem;
      width: 100%;
      top: 0;
      left: 0;

      transform: translate(0, 96px);
      border-top: 1px solid rgba(#626962, 0.2);
    }
  }

  .page-footer__wrapper {
    padding-bottom: 35px;
  }

  .page-footer__wrapper-left {
    width: 100%;
    margin-right: 0;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
  }

  .page-footer__logo {
    padding-top: 19px;
    padding-bottom: 26px;
    padding-left: 0;
  }

  .page-footer__social {
    padding-top: 30px;
    padding-left: 0;

    li:last-child {
      padding-right: 0;
    }
  }

  .page-footer__info {
    margin-right: 0;
    padding-top: 37px;
  }

  .page-footer__info-lists {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .page-footer__contacts {
    margin-left: auto;
    margin-right: 10px;
    padding-top: 37px;
  }

  .page-footer__bottom {
    justify-content: space-between;
  }

  .page-footer__bottom-wrapper {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .page-footer__bottom-left {
    min-width: 0;
    padding-left: 0;

    .page-footer__bottom-notice {
      display: none;
    }

    .page-footer__bottom-copyright {
      position: absolute;
      top: 36px;
      left: 43%;
    }
  }

  .page-footer__bottom-right {
    min-width: 0;
    margin-left: 0;
    padding-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 46px;

    &::before {
      top: 164px
    }

    &::after {
      @include pseudo-elem;
      width: 100%;
      top: 333px;
      left: 0;

      //transform: translate(0, 96px);
      border-top: 1px solid rgba(#626962, 0.2);
    }
  }

  .page-footer__wrapper {
    padding-bottom: 25px;
  }

  .page-footer__wrapper-left {
    flex-direction: column;
    align-items: center;
    max-height: 261px;
    padding-bottom: 45px;
  }

  .page-footer__logo {
    padding: 0;
    width: 215px;
    padding-bottom: 52px;
  }

  .page-footer__bottom {
    .page-footer__bottom-copyright {
      width: 233px;
      @include font(14, 24);
      top: 18%;
      left: 14%;
      letter-spacing: 0.135em;
    }
  }

  .page-footer__info {
    width: 100%;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page-footer__title {
      padding: 0;
    }

    .page-footer__toggle-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .page-footer__icon--open {
      display: block;
    }

    .page-footer__icon--close {
      display: none;
    }

    .page-footer__info-lists {
      display: none;
    }

    .page-footer__toggle {
      display: flex;
      align-items: center;
      justify-content: center;

      @include size(50, 72);
      margin-right: $mobile-padding * -1;

      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .page-footer__contacts {
    width: 100%;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page-footer__title {
      padding: 0;
    }

    .page-footer__toggle-wrapper {
      width: 100%;
      padding-bottom: 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .page-footer__icon--open {
      display: none;
    }

    .page-footer__icon--close {
      display: block;
    }

    .page-footer__toggle {
      display: flex;
      align-items: center;
      justify-content: center;

      @include size(26, 72);
      margin-right: $mobile-padding * -1;

      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .page-footer__bottom-wrapper {
    flex-direction: column;
    align-items: center;

    .page-footer__bottom-privacy {
      padding-top: 14px;
      padding-bottom: 21px;
    }
  }
}
