.advantages {
  margin-bottom: 77px;
  padding-top: 110px;
  @media (min-width: $desktop-width) {
    background-image:
      url("../img/bg-image-advantages.png"),
      url("../img/bg-advantages-poligon.png"),
      url("../img/bg-advantages-poligon3.png");
    background-size: 336px 324px, 872px 873px, 336px 324px;
    background-position: left 201px top 46px,left 557px top 147px,right 29px bottom 48px;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

.advantages__container {
  margin: 0 auto;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;
  position: relative;
  @media (min-width: $desktop-width) {
    max-width: 1171px;
  }
}

.advantages__list {
  @include reset-ul;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.advantages__item {
  width: 48.8%;
  min-height: 210px;
  margin-bottom: 28px;

  &:nth-child(odd) {
    margin-right: auto;
  }
}

.advantages__link {
  display: block;
  position: relative;

  color: $blue;
  background-color: $white;
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    background-color: $blue;

    h3,
    p {
      color: $white;
    }
  }
}

.advantages__link {
  fill: $blue;

  &:hover .advantages__icon,
  &:focus .advantages__icon {
    fill: $white;
  }
}

.advantages__link-term {
  //width: 471px;

  padding-top: 96px;
  padding-right: 53px;
  padding-bottom: 65px;
  padding-left: 43px;

  h3 {
    margin: 0;
    padding-bottom: 15px;
    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: 400;
    @include font(24, 34);
    color: $blue;
  }

  p {
    margin: 0;
    color: $gray;
  }
}

.advantages__icon-term {
  position: absolute;
  top: 40px;
  left: 45px;
}

.advantages__link-delivery {
  //width: 480px;

  padding-top: 96px;
  padding-right: 44px;
  padding-bottom: 65px;
  padding-left: 43px;

  h3 {
    margin: 0;
    padding-bottom: 15px;
    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: 400;
    @include font(24, 34);
    color: $blue;
  }

  p {
    margin: 0;
    color: $gray;
  }
}

.advantages__icon-delivery {
  position: absolute;
  top: 40px;
  left: 45px;
}

.advantages__link-confidentiality {
  //width: 405px;

  padding-top: 97px;
  padding-right: 117px;
  padding-bottom: 110px;
  padding-left: 43px;

  h3 {
    margin: 0;
    padding-bottom: 15px;
    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: 400;
    @include font(24, 34);
    color: $blue;
  }

  p {
    margin: 0;
    color: $gray;
  }
}

.advantages__icon-confidentiality {
  position: absolute;
  top: 45px;
  left: 42px;
}

.advantages__link-cost {
  //width: 480px;

  padding-top: 96px;
  padding-right: 45px;
  padding-bottom: 88px;
  padding-left: 43px;

  h3 {
    margin: 0;
    padding-bottom: 15px;
    font-family: $roboto-condensed;
    font-style: normal;
    font-weight: 400;
    @include font(24, 34);
    color: $blue;
  }

  p {
    margin: 0;
    color: $gray;
  }
}

.advantages__icon-cost {
  position: absolute;
  top: 40px;
  left: 45px;
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 54px;
    margin-bottom: 0;

    @media (max-width: $tablet-width) {
      background-image: url("../img/bg-advantages-poligon.png");
      background-size: 872px 873px;
      background-position: left 308px top 147px;
      background-repeat: no-repeat;
    }
  }

  .advantages__item {
    width: 48%;
    margin-bottom: 28px;
  }

  .advantages__link-term {
    //width: 297px;
    padding-top: 65px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 25px;

    h3 {
      padding-bottom: 9px;
    }
  }

  .advantages__icon-term {
    position: absolute;
    top: 26px;
    left: 25px;
  }

  .advantages__link-delivery {
    //width: 292px;
    padding-top: 65px;
    padding-right: 23px;
    padding-bottom: 19px;
    padding-left: 23px;

    h3 {
      padding-bottom: 9px;
    }
  }

  .advantages__icon-delivery {
    position: absolute;
    top: 23px;
    left: 24px;
  }

  .advantages__link-confidentiality {
    //width: 297px;
    padding-top: 67px;
    padding-right: 23px;
    padding-bottom: 52px;
    padding-left: 22px;
    //padding: 67px 22px 52px;

    h3 {
      padding-bottom: 14px;
    }
  }

  .advantages__icon-confidentiality {
    position: absolute;
    top: 26px;
    left: 21px;
  }

  .advantages__link-cost {
    //width: 297px;
    padding-top: 68px;
    padding-right: 23px;
    padding-bottom: 35px;
    padding-left: 23px;

    h3 {
      padding-bottom: 9px;
    }
  }

  .advantages__icon-cost {
    position: absolute;
    top: 26px;
    left: 25px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-top: 37px;
    margin-bottom: 0;
  }

  .advantages__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantages__item {
    width: 100%;
    margin-bottom: 19px;
  }

  .advantages__link-term {
    //width: 236px;
    padding-top: 69px;
    padding-left: 25px;
    padding-bottom: 26px;
    //padding-right: 25px;

    h3 {
      padding-bottom: 9px;
      @include font(20, 28);
    }
  }

  .advantages__icon-term {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .advantages__link-delivery {
    //width: 252px;
    padding-top: 71px;
    padding-right: 7px;
    padding-left: 25px;
    padding-bottom: 25px;
    //padding-left: 23px;

    h3 {
      padding-bottom: 9px;
      @include font(20, 28);
    }
  }

  .advantages__icon-delivery {
    position: absolute;
    top: 20px;
    left: 24px;
  }

  .advantages__link-confidentiality {
    //width: 237px;
    padding-top: 65px;
    padding-left: 24px;
    padding-bottom: 36px;
    //padding-right: 25px;

    h3 {
      //margin-bottom: -8px;
      padding-bottom: 9px;
      @include font(20, 28);
    }
  }

  .advantages__icon-confidentiality {
    position: absolute;
    top: 23px;
    left: 21px;
  }

  .advantages__link-cost {
    //width: 249px;
    padding-top: 69px;
    padding-right: 10px;
    padding-left: 25px;
    padding-bottom: 27px;

    h3 {
      padding-bottom: 9px;
      @include font(20, 28);
    }
  }

  .advantages__icon-cost {
    position: absolute;
    top: 24px;
    left: 25px;
  }
}
