@keyframes open {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* Модальное окно */
/* Позиционирование окна */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  background: rgba($black, 0.5);

  &--show {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;

    animation-name: open;
    animation-duration: 0.6s;
  }

  &--close {
    display: none;
  }

  &--error {
    animation-name: shake;
    animation-duration: 0.6s;
  }
}

.modal__container {
  //position: relative;
  max-width: 490px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__feedback {
  margin-top: -62px;
  padding-top: 33px;
  padding-right: 39px;
  padding-bottom: 39px;
  padding-left: 39px;

  overflow-x: hidden;
  color: $white;

  background-color: $blue;

  h2 {
    margin: 0;
    margin-bottom: 8px;
    font-family: $roboto-condensed;
    @include font(28, 39);
  }

  p {
    width: 381px;
    margin: 0;
    padding-right: 25px;
    padding-bottom: 14px;
  }
}

.modal__feedback-form {
  width: 411px;

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .modal__name {
    padding-top: 19px;
    padding-right: 15px;
    padding-bottom: 19px;
    //padding-left: 15px;
    margin-bottom: 6px;
  }

  .modal__tel {
    //padding-top: 19px;
    padding-right: 15px;
    padding-bottom: 19px;
    //padding-left: 15px;
    margin-bottom: 10px;
  }
}





//.modal__feedback-item {
//  padding-top: 19px;
//  padding-right: 15px;
//  padding-bottom: 19px;
//  //padding-left: 15px;
//}

.modal__feedback-item input[type="text"],
.modal__feedback-item input[type="tel"] {
  width: 100%;
  height: 50px;
  //padding-top: 10px;
  //padding-right: 20px;
  //padding-bottom: 10px;
  padding-left: 16px;

  font: inherit;
  color: $white;
  background-color: rgba($white, 0.1);
  border: 1px solid transparent;

  &::-webkit-input-placeholder {
    color: $white;
  }

  &::-moz-placeholder {
    color: $white;
  }

  &:-ms-input-placeholder {
    color: $white;
  }

  &:hover {
    border-color: rgba($white, 0.5);
    outline: none;
  }

  &:focus {
    border-color: $white;
    outline: none;
  }
}

.modal__feedback-textarea {
  margin-bottom: 19px;
  padding-right: 21px;
  padding-top: 5px;
}

.modal__feedback-item textarea {
  width: 100%;
  height: 97px;
  padding-left: 21px;
  padding-top: 5px;
  //padding-right: 16px;
  //padding-bottom: 19px;
  padding-left: 21px;
  resize: none;
  font: inherit;
  color: $white;
  background-color: rgba($white, 0.1);
  border: 1px solid transparent;

  &::-webkit-input-placeholder {
    color: $white;
  }

  &::-moz-placeholder {
    color: $white;
  }

  &:-ms-input-placeholder {
    color: $white;
  }

  &:hover {
    border-color: rgba($white, 0.5);
    outline: none;
  }

  &:focus {
    border-color: $white;
    outline: none;
  }
}

.modal__feedback-consent {
  order: 1;

  label {
    position: relative;
    display: block;
    width: 330px;
    padding-left: 44px;
    padding-top: 21px;

    @include font(14, 16);

    background-color: transparent;
    cursor: pointer;

    &::before {
      @include pseudo-elem;
      top: 21px;
      left: 0;
      align-self: flex-start;
      width: 17px;
      height: 16px;
      border: 1px solid $white;
    }

    &::after {
      @include pseudo-elem;
      top: 24px;
      left: 8px;
      display: none;

      @include size(5, 7);
      border: 1px solid white;
      border-left: none;
      border-top: none;
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.modal__feedback-consent input[type="checkbox"]:checked ~ label::after {
  display: block;
}

.modal__feedback-consent input[type="checkbox"]:focus ~ label::before {
  background-color: rgba($white, 0.2);
}

.modal__feedback-form {
  button {
    flex-grow: 1;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 77px;
    padding-right: 77px;
    min-width: 109px;

    font-family: $roboto-condensed;
    font-weight: 700;
    @include font(14, 16);
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    background-color: transparent;
    border: 1px solid $white;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
      color: $blue;
      background-color: $white;
    }
  }
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  //@include interactive();

  &::before,
  &::after {
    @include pseudo-elem;
    top: 14px;
    left: 4px;
    width: 23px;
    height: 2px;

    background-color: $white;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
