@keyframes open {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* Модальное окно */
/* Позиционирование окна */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  background: rgba($black, 0.5);

  &--show {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;

    animation-name: open;
    animation-duration: 0.6s;
  }

  &--close {
    display: none;
  }

  &--error {
    animation-name: shake;
    animation-duration: 0.6s;
  }
}

.modal__container {
  //position: relative;
  max-width: 490px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__feedback {
  margin-top: -64px;
  padding-top: 34px;
  padding-right: 39px;
  padding-bottom: 37px;
  padding-left: 39px;

  overflow-x: hidden;
  color: $white;

  background-color: $blue;

  h2 {
    margin: 0;
    margin-bottom: 8px;
    font-family: $roboto-condensed;
    @include font(28, 39);
  }

  p {
    width: 381px;
    margin: 0;
    padding-right: 25px;
    padding-bottom: 14px;
  }
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  //@include interactive();

  &::before,
  &::after {
    @include pseudo-elem;
    top: 14px;
    left: 4px;
    width: 23px;
    height: 2px;

    background-color: $white;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
